<div style="display: flex; align-items: center;" class="mt-5">
  <h1>Fluxo de caixa <i class="bi bi-coin"></i></h1>
</div>

<%= render @fluxo_caixa %>

<div>
  <%= link_to "Voltar", fluxo_caixas_path, class: "btn10 ", style: "margin-right: 10px;" %>
</div>
