<h1>Editing entradas financeira</h1>

<%= render "form", entradas_financeira: @entradas_financeira %>

<br>

<div>
  <%= link_to "Show this entradas financeira", @entradas_financeira %> |
  <%= link_to "Back to entradas financeiras", entradas_financeiras_path %>
</div>
